@model GetProjectDto

@{
    ViewData["Title"] = "بروزرسانی پروژه";
}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">بروز رسانی پروژه</div>
            <form asp-action="UpdateProject" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="ProjectId"/>
                <div class="row">
                      <div class="col-md-6 form-group mb-3">
                          <label asp-for="Title">عنوان</label>
                          <input asp-for="Title" class="form-control" placeholder="عنوان پروژه را وارد کنید">
                          <span class="text-danger" asp-validation-for="Title"></span>
                      </div>
                      
                      <div class="col-md-6 form-group mb-3">
                          <label asp-for="SubTitle">زیرعنوان</label>
                          <input asp-for="SubTitle" class="form-control" placeholder="زیرعنوان پروژه را وارد کنید">
                          <span class="text-danger" asp-validation-for="SubTitle"></span>
                      </div>

                      <div class="col-md-6 form-group mb-3">
                          <label asp-for="Description">توضیحات</label>
                          <input asp-for="Description" class="form-control" placeholder="توضیحات پروژه را وارد کنید">
                          <span class="text-danger" asp-validation-for="Description"></span>
                      </div>
                      
                      <div class="col-md-6 form-group mb-3">
                          <label asp-for="Progress">درصد پیشرفت پروژه</label>
                          <input asp-for="Progress" class="form-control" placeholder="درصد پیشرفت را وارد کنید">
                          <span class="text-danger" asp-validation-for="Progress"></span>
                      </div>
                      
                      <div class="col-md-6 form-group mb-3">
                          <label asp-for="StartDate">تاریخ شروع</label>
                          <input asp-for="StartDate" class="form-control" placeholder="تاریخ شروع را وارد کنید">
                          <span class="text-danger" asp-validation-for="StartDate"></span>
                      </div>
                      
                      <div class="col-md-6 form-group mb-3">
                          <label asp-for="EndDate">تاریخ پایان</label>
                          <input asp-for="EndDate" class="form-control" placeholder="تاریخ پایان را وارد کنید">
                          <span class="text-danger" asp-validation-for="StartDate"></span>
                      </div>

                      <div class="col-md-6 form-group mb-3">
                          <label asp-for="ProjectStatus">وضعیت پروژه</label>
                          <select asp-for="ProjectStatus" class="custom-select" asp-items="Html.GetEnumSelectList<ProjectStatusEnum>()">
                             <option value="">لطفا انتخاب کنید</option>
                         </select>
                         <span asp-validation-for="ProjectStatus" class="text-danger"></span>
                      </div>
                      
                      <div class="col-md-6 form-group mb-3">
                          <label asp-for="ProjectSupportStatus">وضعیت پشتیبانی</label>
                          <select asp-for="ProjectSupportStatus" class="custom-select" asp-items="Html.GetEnumSelectList<ProjectSupportStatusEnum>()">
                              <option value="">لطفا انتخاب کنید</option>
                          </select>
                          <span asp-validation-for="ProjectSupportStatus" class="text-danger"></span>
                      </div>

                      <div class="col-md-6 form-group mb-3">
                          <label asp-for="ProjectSupportType">نوع پشتیبانی</label>
                          <select asp-for="ProjectSupportType" class="custom-select" asp-items="Html.GetEnumSelectList<ProjectSupportTypeEnum>()">
                              <option value="">لطفا انتخاب کنید</option>
                          </select>
                          <span asp-validation-for="ProjectSupportType" class="text-danger"></span>
                      </div>
                      
                      <div class="col-md-6 form-group mb-3">
                          <label asp-for="ProjectVideoCategory">دسته بندی ویدئو</label>
                          <select asp-for="ProjectVideoCategory" class="custom-select" asp-items="Html.GetEnumSelectList<ProjectVideoCategoryEnum>()">
                              <option value="">لطفا انتخاب کنید</option>
                          </select>
                          <span asp-validation-for="ProjectVideoCategory" class="text-danger"></span>
                      </div>

                      <div class="col-md-6 form-group mb-3">
                          <label>تصویر شاخص</label>
                          <input name="featureImgFile" type="file" class="form-control">
                      </div>
                    
                    <div class="col-md-12">
                        <button asp-action="UpdateProject" asp-controller="AdminProject" class="btn btn-primary" type="submit">تایید</button>
                        <a asp-action="Index" class="btn btn-danger m-1">لغو</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>