@model GetPodcastDto

@{
    ViewData["Title"] = "حذف پادکست";
    List<GetTagDto> tags = ViewBag.Tag;
    List<UpdatePodcastTagViewModel> podcastsforupdate = ViewBag.PodcastTag;
    List<UpdatePodcastTagViewModel> existPodcastTag = new List<UpdatePodcastTagViewModel>();
}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">حذف پادکست</div>
            <form asp-action="DeletePodcastById" method="post" enctype="multipart/form-data">
               <div class="row">
                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="PodcastNumber">شماره پادکست</label>
                       <input readonly="readonly" asp-for="PodcastNumber" class="form-control" placeholder="شماره پادکست را وارد کنید">
                       <span class="text-danger" asp-validation-for="PodcastNumber"></span>
                   </div>

                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="Title">عنوان</label>
                       <input readonly="readonly" asp-for="Title" class="form-control" placeholder="عنوان را وارد کنید">
                       <span class="text-danger" asp-validation-for="Title"></span>
                   </div>

                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="StudyTime">زمان مطالعه</label>
                       <input readonly="readonly" asp-for="StudyTime" class="form-control" placeholder="زمان مطالعه را وارد کنید">
                       <span class="text-danger" asp-validation-for="StudyTime"></span>
                   </div>

                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="FeatureImage">تصویر شاخص</label>
                       <input readonly="readonly" asp-for="FeatureImage" class="form-control" placeholder="تصویر را وارد کنید">
                       <span class="text-danger" asp-validation-for="FeatureImage"></span>
                   </div>

                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="Description">توضیحات</label>
                       <input readonly="readonly" asp-for="Description" class="form-control" placeholder="توضیحات را وارد کنید">
                       <span class="text-danger" asp-validation-for="Description"></span>
                   </div>

                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="Audio">فایل صوت</label>
                       <input readonly="readonly" asp-for="Audio" class="form-control" placeholder="فایل صوت را وارد کنید">
                       <span class="text-danger" asp-validation-for="Audio"></span>
                   </div>
                   
                   @* tags *@
                   <div class="col-md-6 form-group mb-3">
                       <label>برچسب ها</label>
                       @foreach (var tag in tags)
                       {
                           <div class="d-flex text-black mb-2 p-2" style='background: #8080802b;height: 39px;border-radius: 5px;'>
                               @tag.Title
                           </div>
                       }
                   </div>

                   <div class="col-md-12">
                       <button asp-action="DeletePodcastById" asp-controller="AdminPodcast" asp-route-id="@Model.PodcastId" class="btn btn-primary" type="submit">تایید</button>
                       <a asp-action="Index" class="btn btn-danger m-1">لغو</a>
                  </div>
               </div>
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(".Add-Tag").click(function () {
            if ($("#select-tag").val()) {
                var value = $("#select-tag").children("option:selected").val();
                var text = $("#select-tag").children("option:selected").text();
                $(".ListTag").append(
                    "<div style='background: #8080802b;height: 39px;width: 48%;border-radius: 5px;margin-bottom: 1%;margin-left: 1%;display:flex;color:whitesmoke;'>"
                      + "<label style='display: flex;align-items: center;justify-items: center;' class='col-md-12'>" + text + "</label>"
                      + "<input type='hidden' name='TagId' value='" + value + "' />"
                      + "<a style='display: flex;align-items: center;justify-items: center;' class='btn btn-danger remove-tag'>حذف</a>"
                      + "</div>"
                );
                $("#select-tag").children("option:selected").remove();
            }
        });

        $('.ListTag').delegate(".remove-tag", 'click', function () {
            var content = $(this).parent();
            var text = content.find($("label")).text();
            var value = content.find($("input[type=hidden]")).val();
            $("#select-tag").append($('<option>', {
                value: value,
                text: text
            }));
            content.remove();
        });
    </script>
}