@model GetPodcastDto

@{
    ViewData["Title"] = "بروزرسانی پادکست";
}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">بروز رسانی پادکست</div>
            <form asp-action="UpdatePodcast" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="PodcastId"/>
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="PodcastNumber">شماره پادکست</label>
                        <input asp-for="PodcastNumber" class="form-control" placeholder="شماره پادکست را وارد کنید">
                        <span class="text-danger" asp-validation-for="PodcastNumber"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Title">عنوان</label>
                        <input asp-for="Title" class="form-control" placeholder="عنوان را وارد کنید">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="StudyTime">زمان مطالعه</label>
                        <input asp-for="StudyTime" class="form-control" placeholder="زمان مطالعه را وارد کنید">
                        <span class="text-danger" asp-validation-for="StudyTime"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="FeatureImage">تصویر شاخص</label>
                        <input asp-for="FeatureImage" class="form-control" placeholder="تصویر را وارد کنید">
                        <span class="text-danger" asp-validation-for="FeatureImage"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Description">توضیحات</label>
                        <input asp-for="Description" class="form-control" placeholder="توضیحات را وارد کنید">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Audio">فایل صوت</label>
                        <input asp-for="Audio" class="form-control" placeholder="فایل صوت را وارد کنید">
                        <span class="text-danger" asp-validation-for="Audio"></span>
                    </div>

                   <div class="col-md-12">
                       <button asp-action="UpdatePodcast" asp-controller="AdminPodcast" class="btn btn-primary" type="submit">تایید</button>
                       <a asp-action="Index" class="btn btn-danger m-1">لغو</a>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>
