@model GetCustomerSuccessDto

@{
    ViewData["Title"] = "بروزرسانی داستان موفقیت";
}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">بروز رسانی داستان موفقیت</div>
            <form asp-action="UpdateCustomerSuccess" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="CustomerSuccessId"/>
                <div class="row">
                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="ManagerName">نام مدیر</label>
                       <input asp-for="ManagerName" class="form-control" placeholder="نام مدیر را وارد کنید">
                       <span class="text-danger" asp-validation-for="ManagerName"></span>
                   </div>

                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="ManagerSide">سمت مدیرعامل</label>
                       <input asp-for="ManagerSide" class="form-control" placeholder="سمت مدیرعامل را وارد کنید">
                       <span class="text-danger" asp-validation-for="ManagerSide"></span>
                   </div>

                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="CompanyName">نام شرکت</label>
                       <input asp-for="CompanyName" class="form-control" placeholder="نام شرکت را وارد کنید">
                       <span class="text-danger" asp-validation-for="CompanyName"></span>
                   </div>

                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="StartupName">نام استارتاپ</label>
                       <input asp-for="StartupName" class="form-control" placeholder="نام استارتاپ را وارد کنید">
                       <span class="text-danger" asp-validation-for="StartupName"></span>
                   </div>

                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="ActivityName">حوزه فعالیت</label>
                       <input asp-for="ActivityName" class="form-control" placeholder="حوزه فعالیت را وارد کنید">
                       <span class="text-danger" asp-validation-for="ActivityName"></span>
                   </div>

                   @* <div class="col-md-6 form-group mb-3"> *@
                   @*     <label asp-for="CompanyLogo">لوگو شرکت</label> *@
                   @*     <input asp-for="CompanyLogo" class="form-control" placeholder="لوگو شرکت را وارد کنید"> *@
                   @*     <span class="text-danger" asp-validation-for="CompanyLogo"></span> *@
                   @* </div> *@
                   
                    <div class="col-md-6 form-group mb-3">
                       <label asp-for="ManagerSpeech">سخن مدیر</label>
                       <input asp-for="ManagerSpeech" class="form-control" placeholder="سخن مدیر را وارد کنید">
                       <span class="text-danger" asp-validation-for="ManagerSpeech"></span>
                    </div>
                   
                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="Description">توضیحات</label>
                       <input asp-for="Description" class="form-control" placeholder="توضیحات را وارد کنید">
                       <span class="text-danger" asp-validation-for="Description"></span>
                   </div>
                   
                   @* <div class="col-md-6 form-group mb-3"> *@
                   @*     <label asp-for="VideoFile">فایل ویدئو</label> *@
                   @*     <input asp-for="VideoFile" class="form-control" placeholder="فایل ویدئو را وارد کنید"> *@
                   @*     <span class="text-danger" asp-validation-for="VideoFile"></span> *@
                   @* </div> *@
                   
                   @* <div class="col-md-6 form-group mb-3"> *@
                   @*     <label asp-for="CoverVideoImage">کاور ویدئو</label> *@
                   @*     <input asp-for="CoverVideoImage" class="form-control" placeholder="کاور ویدئو را وارد کنید"> *@
                   @*     <span class="text-danger" asp-validation-for="VideoFile"></span> *@
                   @* </div> *@
                   
                   <div class="col-md-6 form-group mb-3">
                       <label asp-for="VideoTitle">عنوان ویدئو</label>
                       <input asp-for="VideoTitle" class="form-control" placeholder="عنوان ویدئو را وارد کنید">
                       <span class="text-danger" asp-validation-for="VideoTitle"></span>
                   </div>
                   
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="VideoSubTitle">زیرعنوان ویدئو</label>
                        <input asp-for="VideoSubTitle" class="form-control" placeholder="زیرعنوان ویدئو را وارد کنید">
                        <span class="text-danger" asp-validation-for="VideoSubTitle"></span>
                    </div>
                    
                    <div class="col-md-12">
                       <button asp-action="UpdateCustomerSuccess" asp-controller="AdminCustomerSuccess" class="btn btn-primary" type="submit">تایید</button>
                       <a asp-action="Index" class="btn btn-danger m-1">لغو</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>