@model GetNewsLetterDto

@{
    ViewData["Title"] = "بروزرسانی خبرنامه فرد";
}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">بروز رسانی خبرنامه فرد</div>
            <form asp-action="UpdateNewsLetter" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="NewsLetterId"/>
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="FullName">نام کامل</label>
                        <input asp-for="FullName" class="form-control" placeholder="نام کامل را وارد کنید">
                        <span class="text-danger" asp-validation-for="FullName"></span>
                    </div>
                                    
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Email">لینک</label>
                        <input asp-for="Email" class="form-control" placeholder="ایمیل را وارد کنید">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                   <div class="col-md-12">
                       <button asp-action="UpdateNewsLetter" asp-controller="AdminNewsLetter" class="btn btn-primary" type="submit">تایید</button>
                       <a asp-action="Index" class="btn btn-danger m-1">لغو</a>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>
