@model AddBlogDto

@{
    ViewData["Title"] = "افزودن پست";
}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">افزودن پست</div>
            <form asp-action="AddBlog" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Title">عنوان</label>
                        <input asp-for="Title" class="form-control" placeholder="عنوان را وارد کنید">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Description">توضیحات</label>
                        <input asp-for="Description" class="form-control" placeholder="توضیحات را وارد کنید">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Lid">متن چکیده</label>
                        <input asp-for="Lid" class="form-control" placeholder="متن چکیده را وارد کنید">
                        <span class="text-danger" asp-validation-for="Lid"></span>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="StudyTime">زمان مطالعه</label>
                        <input asp-for="StudyTime" class="form-control" placeholder="زمان مطالعه را وارد کنید">
                        <span class="text-danger" asp-validation-for="StudyTime"></span>
                    </div>
                    
                    <div class="col-md-6 form-group mb-3">
                        <label>تصویر شاخص</label>
                        <input name="featureImgFile" type="file" class="form-control">
                    </div>
                    
                    <div class="col-md-6 form-group mb-3">
                        <label>انتخاب برچسب ها</label>
                        <select class="form-control" id="select-tag" asp-items="@(new SelectList(ViewBag.Tag, "TagId", "Title"))"></select>
                        <button class="Add-Tag btn btn-success my-2" type="button">انتخاب</button>
                        <div class="ListTag"></div>
                    </div>
            
                    <div class="col-md-12">
                        <button asp-action="AddBlog" asp-controller="AdminBlog" class="btn btn-primary" type="submit">تایید</button>
                        <a asp-action="Index" class="btn btn-danger m-1">لغو</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        //tags
        $(".Add-Tag").click(function () {
            if ($("#select-tag").val()) {
                var value = $("#select-tag").children("option:selected").val();
                var text = $("#select-tag").children("option:selected").text();
                $(".ListTag").append(
                    "<div style='background: #8080802b;height: 39px;width: 48%;border-radius: 5px;margin-bottom: 1%;margin-left: 1%;display:flex;color:whitesmoke;'>"
                    + "<label style='display: flex;align-items: center;justify-items: center;' class='col-md-12'>" + text + "</label>"
                    + "<input type='hidden' name='TagId' value='" + value + "' />"
                    + "<a style='display: flex;align-items: center;justify-items: center;' class='btn btn-danger remove-tag'>حذف</a>"
                    + "</div>"

                );
                $("#select-tag").children("option:selected").remove();
            }
        });

        $('.ListTag').delegate(".remove-tag", 'click', function () {
            var content = $(this).parent();
            var text = content.find($("label")).text();
            var value = content.find($("input[type=hidden]")).val();
            $("#select-tag").append($('<option>', {
                value: value,
                text: text
            }));
            content.remove();
        });
    </script>
}
