@model GetBlogDto

@{
    ViewData["Title"] = "حذف پست";
    List<GetTagDto> tags = ViewBag.Tag;
    List<UpdateBlogTagViewModel> blogsforupdate = ViewBag.BlogTag;
    List<UpdateBlogTagViewModel> existBlogTag = new List<UpdateBlogTagViewModel>();
}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">حذف پست</div>
            <form asp-action="DeleteBlogById" method="post" enctype="multipart/form-data">
               <div class="row">
                  <div class="col-md-6 form-group mb-3">
                      <label asp-for="Title">عنوان</label>
                      <input readonly="readonly" asp-for="Title" class="form-control" placeholder="عنوان را وارد کنید">
                      <span class="text-danger" asp-validation-for="Title"></span>
                  </div>

                  <div class="col-md-6 form-group mb-3">
                      <label asp-for="Description">توضیحات</label>
                      <input readonly="readonly" asp-for="Description" class="form-control" placeholder="توضیحات را وارد کنید">
                      <span class="text-danger" asp-validation-for="Description"></span>
                  </div>

                  <div class="col-md-6 form-group mb-3">
                      <label asp-for="Lid">متن چکیده</label>
                      <input readonly="readonly" asp-for="Lid" class="form-control" placeholder="متن چکیده را وارد کنید">
                      <span class="text-danger" asp-validation-for="Lid"></span>
                  </div>

                  <div class="col-md-6 form-group mb-3">
                      <label asp-for="StudyTime">زمان مطالعه</label>
                      <input readonly="readonly" asp-for="StudyTime" class="form-control" placeholder="زمان مطالعه را وارد کنید">
                      <span class="text-danger" asp-validation-for="StudyTime"></span>
                  </div>

                   @* <div class="col-md-6 form-group mb-3"> *@
                   @*     <label asp-for="FeatureImage">تصویر شاخص</label> *@
                   @*     <input readonly="readonly" asp-for="FeatureImage" class="form-control" placeholder="تصویر شاخص را وارد کنید"> *@
                   @*     <span class="text-danger" asp-validation-for="FeatureImage"></span> *@
                   @* </div> *@
                   
                   @* tags *@
                   <div class="col-md-6 form-group mb-3">
                       <label>برچسب ها</label>
                       @foreach (var tag in tags)
                       {
                           <div class="d-flex text-black mb-2 p-2" style='background: #8080802b;height: 39px;border-radius: 5px;'>
                               @tag.Title
                           </div>
                       }
                   </div>
                   
                   <div class="col-md-12">
                       <button asp-action="DeleteBlogById" asp-controller="AdminBlog" asp-route-id="@Model.BlogId" class="btn btn-primary" type="submit">تایید</button>
                       <a asp-action="Index" class="btn btn-danger m-1">لغو</a>
                   </div>
               </div>
            </form>
        </div>
    </div>
</div>
