@model AddBlogCategoryDto

@{
    ViewData["Title"] = "افزودن دسته بندی وبلاگ";
}

<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">افزودن دسته بندی وبلاگ</div>
            <form asp-action="AddBlogCategory" method="post">
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label asp-for="Title">عنوان</label>
                        <input asp-for="Title" class="form-control" placeholder="عنوان را وارد کنید">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="col-md-12">
                        <button asp-action="AddBlogCategory" asp-controller="AdminBlogCategory" class="btn btn-primary" type="submit">تایید</button>
                        <a asp-action="Index" class="btn btn-danger m-1">لغو</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>